{% extends 'base.html' %}

{% block content%}
<h2 class="title_color title_font mx-3 text-left">ABOUT</h2>
<p class="mx-3">I have often dreamed<br/>
Of a far off place<br/>
Where a great warm welcome<br/>
Will be waiting for me<br/>
Where the crowds will cheer<br/>
When they see my face<br/>
And a voice keeps sayin'<br/>
This is where I'm meant to be<br/>
I will find my way<br/>
I can go the distance<br/>
I'll be there someday<br/>
If I can be strong<br/>
I know every mile<br/>
Will be worth my while<br/>
I would go most anywhere<br/>
To feel like I belong<br/>
I am on my way<br/>
I can go the distance<br/>
I don't care how far<br/>
Somehow, I'll be strong<br/>
I know every mile<br/>
Will be worth my while<br/>
I would go most anywhere<br/>
To find where I belong<br/>
I will beat the odds<br/>
I can go the distance<br/>
I will face the world<br/>
Fearless, proud and strong<br/>
I will please the gods<br/>
I can go the distance<br/>
Till I find my hero's welcome<br/>
Right where I belong</p>
{% endblock %}