{% extends 'base.html' %}
{% load static %}

{% block content%}
<h3 class="title_font title_color my-2 mx-3">GREEK<hr/></h3>
<div class="row my-auto mx-auto">
  <div class="col-sm">
    <div class="card">
      <img src="{% static "gladiator_cave_painting.jpg" %}" class="card-img-top" alt="gladiator_cave_painting">
      <div class="card-body">
        <h5 class="card-title title_color">Gladiators</h5>
        <p class="card-text">Some descriptive text about Gladiators!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "God_statue.jpg"%}" class="card-img-top" alt="God_statue">
      <div class="card-body">
        <h5 class="card-title title_color">Olympics</h5>
        <p class="card-text">Some descriptive text about the Olympics!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "Hercules_vase.jpg"%}" class="card-img-top" alt="Hercules_vase">
      <div class="card-body">
        <h5 class="card-title title_color">Gods & Goddesses</h5>
        <p class="card-text">Some descriptive text about Gods and Goddesses!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "greek_shard.jpg"%}" class="card-img-top" alt="greek_shard">
      <div class="card-body">
        <h5 class="card-title title_color">Greek Theater</h5>
        <p class="card-text">Some descriptive text about Greek Theater!</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 mx-auto">
  <div class="col-sm">
    <div class="card">
      <img src="{% static "gladiator_cave_painting.jpg" %}" class="card-img-top" alt="gladiator_cave_painting">
      <div class="card-body">
        <h5 class="card-title title_color">Gladiators</h5>
        <p class="card-text">Some descriptive text about Gladiators!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "God_statue.jpg"%}" class="card-img-top" alt="God_statue">
      <div class="card-body">
        <h5 class="card-title title_color">Olympics</h5>
        <p class="card-text">Some descriptive text about the Olympics!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "Hercules_vase.jpg"%}" class="card-img-top" alt="Hercules_vase">
      <div class="card-body">
        <h5 class="card-title title_color">Gods & Goddesses</h5>
        <p class="card-text">Some descriptive text about Gods and Goddesses!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "greek_shard.jpg"%}" class="card-img-top" alt="greek_shard">
      <div class="card-body">
        <h5 class="card-title title_color">Greek Theater</h5>
        <p class="card-text">Some descriptive text about Greek Theater!</p>
      </div>
    </div>
  </div>
</div>

<h3 class="title_font title_color my-2 mx-3">PERIOD<hr/></h3>

<div class="row my-auto mx-auto">
  <div class="col-sm">
    <div class="card">
      <img src="{% static "gladiator_cave_painting.jpg" %}" class="card-img-top" alt="gladiator_cave_painting">
      <div class="card-body">
        <h5 class="card-title title_color">Gladiators</h5>
        <p class="card-text">Some descriptive text about Gladiators!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "God_statue.jpg"%}" class="card-img-top" alt="God_statue">
      <div class="card-body">
        <h5 class="card-title title_color">Olympics</h5>
        <p class="card-text">Some descriptive text about the Olympics!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "Hercules_vase.jpg"%}" class="card-img-top" alt="Hercules_vase">
      <div class="card-body">
        <h5 class="card-title title_color">Gods & Goddesses</h5>
        <p class="card-text">Some descriptive text about Gods and Goddesses!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "greek_shard.jpg"%}" class="card-img-top" alt="greek_shard">
      <div class="card-body">
        <h5 class="card-title title_color">Greek Theater</h5>
        <p class="card-text">Some descriptive text about Greek Theater!</p>
      </div>
    </div>
  </div>
</div>

<div class="row my-auto mx-auto">
  <div class="col-sm">
    <div class="card">
      <img src="{% static "gladiator_cave_painting.jpg" %}" class="card-img-top" alt="gladiator_cave_painting">
      <div class="card-body">
        <h5 class="card-title title_color">Gladiators</h5>
        <p class="card-text">Some descriptive text about Gladiators!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "God_statue.jpg"%}" class="card-img-top" alt="God_statue">
      <div class="card-body">
        <h5 class="card-title title_color">Olympics</h5>
        <p class="card-text">Some descriptive text about the Olympics!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "Hercules_vase.jpg"%}" class="card-img-top" alt="Hercules_vase">
      <div class="card-body">
        <h5 class="card-title title_color">Gods & Goddesses</h5>
        <p class="card-text">Some descriptive text about Gods and Goddesses!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "greek_shard.jpg"%}" class="card-img-top" alt="greek_shard">
      <div class="card-body">
        <h5 class="card-title title_color">Greek Theater</h5>
        <p class="card-text">Some descriptive text about Greek Theater!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}