{% extends 'base.html' %}
{% load static %}

{% block content%}
{% comment %} add a tags to make these clickable for each card {% endcomment %}
<h2 class="title_font title_color mt-4 mb-2 mx-5 px-5">ALBUMS<hr/></h2>
<div class="row my-auto mx-auto">
  <div class="col-sm ml-5 pl-5">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "gladiator_cave_painting.jpg" %}" class="card-img-top" alt="gladiator_cave_painting">
      <div class="card-body">
        <h5 class="card-title title_color">Gladiators</h5>
        <p class="card-text text-body">Some descriptive text about Gladiators!</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "God_statue.jpg"%}" class="card-img-top" alt="God_statue">
      <div class="card-body">
        <h5 class="card-title title_color">Olympics</h5>
        <p class="card-text">Some descriptive text about the Olympics!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "Hercules_vase.jpg"%}" class="card-img-top" alt="Hercules_vase">
      <div class="card-body">
        <h5 class="card-title title_color">Gods & Goddesses</h5>
        <p class="card-text">Some descriptive text about Gods and Goddesses!</p>
      </div>
    </div>
  </div>
  <div class="col-sm mr-5 pr-5">
    <div class="card">
      <img src="{% static "greek_shard.jpg"%}" class="card-img-top" alt="greek_shard">
      <div class="card-body">
        <h5 class="card-title title_color">Greek Theater</h5>
        <p class="card-text">Some descriptive text about Greek Theater!</p>
      </div>
    </div>
  </div>
</div>

<div class="row my-5 mx-auto">
  <div class="col-sm ml-5 pl-5">
    <div class="card">
      <img src="{% static "gladiator_cave_painting.jpg" %}" class="card-img-top" alt="gladiator_cave_painting">
      <div class="card-body">
        <h5 class="card-title title_color">Gladiators</h5>
        <p class="card-text">Some descriptive text about Gladiators!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "God_statue.jpg"%}" class="card-img-top" alt="God_statue">
      <div class="card-body">
        <h5 class="card-title title_color">Olympics</h5>
        <p class="card-text">Some descriptive text about the Olympics!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "Hercules_vase.jpg"%}" class="card-img-top" alt="Hercules_vase">
      <div class="card-body">
        <h5 class="card-title title_color">Gods & Goddesses</h5>
        <p class="card-text">Some descriptive text about Gods and Goddesses!</p>
      </div>
    </div>
  </div>
  <div class="col-sm pr-5 mr-5">
    <div class="card">
      <img src="{% static "greek_shard.jpg"%}" class="card-img-top" alt="greek_shard">
      <div class="card-body">
        <h5 class="card-title title_color">Greek Theater</h5>
        <p class="card-text">Some descriptive text about Greek Theater!</p>
      </div>
    </div>
  </div>
</div>

<h2 class="title_font title_color my-2 mx-5 px-5">PERIOD<hr/></h2>

<div class="row my-auto mx-auto">
  <div class="col-sm ml-5 pl-5">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "gladiator_cave_painting.jpg" %}" class="card-img-top" alt="gladiator_cave_painting">
      <div class="card-body">
        <h5 class="card-title title_color">Gladiators</h5>
        <p class="card-text text-body">Some descriptive text about Gladiators!</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "God_statue.jpg"%}" class="card-img-top" alt="God_statue">
      <div class="card-body">
        <h5 class="card-title title_color">Olympics</h5>
        <p class="card-text">Some descriptive text about the Olympics!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "Hercules_vase.jpg"%}" class="card-img-top" alt="Hercules_vase">
      <div class="card-body">
        <h5 class="card-title title_color">Gods & Goddesses</h5>
        <p class="card-text">Some descriptive text about Gods and Goddesses!</p>
      </div>
    </div>
  </div>
  <div class="col-sm mr-5 pr-5">
    <div class="card">
      <img src="{% static "greek_shard.jpg"%}" class="card-img-top" alt="greek_shard">
      <div class="card-body">
        <h5 class="card-title title_color">Greek Theater</h5>
        <p class="card-text">Some descriptive text about Greek Theater!</p>
      </div>
    </div>
  </div>
</div>

<div class="row my-5 mx-auto">
  <div class="col-sm ml-5 pl-5">
    <div class="card">
      <img src="{% static "gladiator_cave_painting.jpg" %}" class="card-img-top" alt="gladiator_cave_painting">
      <div class="card-body">
        <h5 class="card-title title_color">Gladiators</h5>
        <p class="card-text">Some descriptive text about Gladiators!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "God_statue.jpg"%}" class="card-img-top" alt="God_statue">
      <div class="card-body">
        <h5 class="card-title title_color">Olympics</h5>
        <p class="card-text">Some descriptive text about the Olympics!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "Hercules_vase.jpg"%}" class="card-img-top" alt="Hercules_vase">
      <div class="card-body">
        <h5 class="card-title title_color">Gods & Goddesses</h5>
        <p class="card-text">Some descriptive text about Gods and Goddesses!</p>
      </div>
    </div>
  </div>
  <div class="col-sm pr-5 mr-5">
    <div class="card">
      <img src="{% static "greek_shard.jpg"%}" class="card-img-top" alt="greek_shard">
      <div class="card-body">
        <h5 class="card-title title_color">Greek Theater</h5>
        <p class="card-text">Some descriptive text about Greek Theater!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
