{% extends 'base.html' %}
{% load static %}

{% block content%}
{% comment %} add a tags to make these clickable for each card {% endcomment %}
<h2 class="title_font title_color mt-4 mb-2 mx-5 px-5">ALBUMS<hr/></h2>
<div class="row my-auto mx-auto">
  <div class="col-sm ml-5 pl-5">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "G&G.jpg" %}" class="card-img-top" alt="gods & goddesses thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Gods & Goddesses</h5>
        <p class="card-text text-body">Art, artifacts, and architecture that feature the pantheon of Greek and Roman divinities</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "H&M.jpg"%}" class="card-img-top" alt="heroes & monsters thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Heroes & Monsters</h5>
        <p class="card-text">Art and artifacts depicting the great heroes of myth, including from the Trojan War, and mythical monsters</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "G&S-crop.jpg"%}" class="card-img-top" alt="gladiators & spectacle thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Gladiators & Spectacle</h5>
        <p class="card-text">Scenes of gladiatorial combat, beast hunts, chariot races, executions, as well as associated material culture</p>
      </div>
    </div>
  </div>
  <div class="col-sm mr-5 pr-5">
    <div class="card">
      <img src="{% static "O&A.jpg"%}" class="card-img-top" alt="olympics & athletics thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">The Olympics & Athletics</h5>
        <p class="card-text">Scenes of Greek-style athletics, as well as the tools used for such activities and the 
        abundance of finds for athletic sites, including Olympia</p>
      </div>
    </div>
  </div>
</div>

<div class="row my-5 mx-auto">
  <div class="col-sm ml-5 pl-5">
    <div class="card">
      <img src="{% static "LoW-crop.jpg" %}" class="card-img-top" alt="lives of women thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Lives of Women</h5>
        <p class="card-text">Portraits of women, artifacts depicting domestic activities, inscriptions for women,
         and artifacts associated with women's lives</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "W&C.jpg"%}" class="card-img-top" alt="War and Conquest thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">War & Conquest</h5>
        <p class="card-text"> Images that depict military combat or conquest, as well as artifacts associated with conquest, including many tied to Roman emperors and military</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "D&S.jpg"%}" class="card-img-top" alt="Dionysus and Symposia Thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Dionysus & Symposia</h5>
        <p class="card-text">Images and artifacts associated with the Greek symposium, dining in general, and the world of Dionysus, including Satyrs and Maenads</p>
      </div>
    </div>
  </div>
  <div class="col-sm pr-5 mr-5">
    <div class="card">
      <img src="{% static "ALL.jpg"%}" class="card-img-top" alt="All albums thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">All Albums</h5>
        <p class="card-text">Browse all our curated collections, which include Death & Burial, Ancient Theater, Hunting & Leisure, Ritual, Labors of Hercules, and Education & Politics</p>
      </div>
    </div>
  </div>
</div>

<h2 class="title_font title_color my-2 mx-5 px-5">PERIOD<hr/></h2>

<div class="row my-auto mx-auto">
  <div class="col-sm ml-5 pl-5">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "gladiator_cave_painting.jpg" %}" class="card-img-top" alt="gladiator_cave_painting">
      <div class="card-body">
        <h5 class="card-title title_color">Gladiators</h5>
        <p class="card-text text-body">Some descriptive text about Gladiators!</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "God_statue.jpg"%}" class="card-img-top" alt="God_statue">
      <div class="card-body">
        <h5 class="card-title title_color">Olympics</h5>
        <p class="card-text">Some descriptive text about the Olympics!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "Hercules_vase.jpg"%}" class="card-img-top" alt="Hercules_vase">
      <div class="card-body">
        <h5 class="card-title title_color">Gods & Goddesses</h5>
        <p class="card-text">Some descriptive text about Gods and Goddesses!</p>
      </div>
    </div>
  </div>
  <div class="col-sm mr-5 pr-5">
    <div class="card">
      <img src="{% static "greek_shard.jpg"%}" class="card-img-top" alt="greek_shard">
      <div class="card-body">
        <h5 class="card-title title_color">Greek Theater</h5>
        <p class="card-text">Some descriptive text about Greek Theater!</p>
      </div>
    </div>
  </div>
</div>

<div class="row my-5 mx-auto">
  <div class="col-sm ml-5 pl-5">
    <div class="card">
      <img src="{% static "gladiator_cave_painting.jpg" %}" class="card-img-top" alt="gladiator_cave_painting">
      <div class="card-body">
        <h5 class="card-title title_color">Gladiators</h5>
        <p class="card-text">Some descriptive text about Gladiators!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "God_statue.jpg"%}" class="card-img-top" alt="God_statue">
      <div class="card-body">
        <h5 class="card-title title_color">Olympics</h5>
        <p class="card-text">Some descriptive text about the Olympics!</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <img src="{% static "Hercules_vase.jpg"%}" class="card-img-top" alt="Hercules_vase">
      <div class="card-body">
        <h5 class="card-title title_color">Gods & Goddesses</h5>
        <p class="card-text">Some descriptive text about Gods and Goddesses!</p>
      </div>
    </div>
  </div>
  <div class="col-sm pr-5 mr-5">
    <div class="card">
      <img src="{% static "greek_shard.jpg"%}" class="card-img-top" alt="greek_shard">
      <div class="card-body">
        <h5 class="card-title title_color">Greek Theater</h5>
        <p class="card-text">Some descriptive text about Greek Theater!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
