{% extends 'base.html' %}
{% load static %}

{% block content%}
{% comment %} add a tags to make these clickable for each card {% endcomment %}
<h2 class="title_font title_color mt-4 mb-2 mx-5 px-5">ALBUMS<hr/></h2>
<div class="row my-auto mx-auto">
  <div class="col-sm ml-5 pl-5">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/G&G.jpg" %}" class="card-img-top" alt="gods & goddesses thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Gods & Goddesses</h5>
        <p class="card-text text-body">Art, artifacts, and architecture that feature the pantheon of Greek and Roman divinities</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/H&M.jpg"%}" class="card-img-top" alt="heroes & monsters thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Heroes & Monsters</h5>
        <p class="card-text text-body">Art and artifacts depicting the great heroes of myth, including from the Trojan War, and mythical monsters</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/G&S-crop.jpg"%}" class="card-img-top" alt="gladiators & spectacle thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Gladiators & Spectacle</h5>
        <p class="card-text text-body">Scenes of gladiatorial combat, beast hunts, chariot races, executions, as well as associated material culture</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm mr-5 pr-5">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/O&A.jpg"%}" class="card-img-top" alt="olympics & athletics thumbnail">
      <div class="card-body text-body">
        <h5 class="card-title title_color">The Olympics & Athletics</h5>
        <p class="card-text">Scenes of Greek-style athletics, as well as the tools used for such activities and the 
        abundance of finds for athletic sites, including Olympia</p>
      </div>
    </div>
    </a>
  </div>
</div>

<div class="row my-5 mx-auto">
  <div class="col-sm ml-5 pl-5">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/LoW-crop.jpg" %}" class="card-img-top" alt="lives of women thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Lives of Women</h5>
        <p class="card-text text-body">Portraits of women, artifacts depicting domestic activities, inscriptions for women,
         and artifacts associated with women's lives</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/W&C.jpg"%}" class="card-img-top" alt="War and Conquest thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">War & Conquest</h5>
        <p class="card-text text-body"> Images that depict military combat or conquest, as well as artifacts associated with conquest, including many tied to Roman emperors and military</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/D&S.jpg"%}" class="card-img-top" alt="Dionysus and Symposia Thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Dionysus & Symposia</h5>
        <p class="card-text text-body">Images and artifacts associated with the Greek symposium, dining in general, and the world of Dionysus, including Satyrs and Maenads</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm pr-5 mr-5">
    <a class="nounderline" href="/albums">
    <div class="card">
      <img src="{% static "home_thumbnails/ALL.jpg"%}" class="card-img-top" alt="All albums thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">All Albums</h5>
        <p class="card-text text-body">Browse all our curated collections, which include Death & Burial, Ancient Theater, Hunting & Leisure, Ritual, Labors of Hercules, and Education & Politics</p>
      </div>
    </div>
    </a>
  </div>
</div>

<h2 class="title_font title_color my-2 mx-5 px-5">PERIOD<hr/></h2>

<div class="row my-auto mx-auto">
  <div class="col-sm ml-5 pl-5">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/BronzeAge.jpg" %}" class="card-img-top" alt="Bronze Age Thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Bronze Age</h5>
        <p class="card-text text-body">Artifacts and material culture from the Bronze Age of Greece and the Eastern Mediterranean</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/EarlyGreece.jpg"%}" class="card-img-top" alt="Early Greece Thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Early Greece</h5>
        <p class="card-text text-body">Artifacts and remains from the centuries of Early Greece (1100-700 BCE), including the Dark Ages, proto-geometric, and geometric periods</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/A&C.jpg"%}" class="card-img-top" alt="Archaic & Classical Thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Archaic and Classical</h5>
        <p class="card-text text-body">Vases, sculpture, and more from the materially-rich period of Archaic and Classical Greece</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm mr-5 pr-5">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/Hellenistic.jpg"%}" class="card-img-top" alt="Hellenistic Thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Hellenistic</h5>
        <p class="card-text text-body">Numerous images from the creative Hellenistic period, especially from the coastal sites of Asia Minor</p>
      </div>
    </div>
    </a>
  </div>
</div>

<div class="row my-5 mx-auto">
  <div class="col-sm ml-5 pl-5">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/EarlyRome&E.jpg" %}" class="card-img-top" alt="Early Rome and Etruscan Thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Early Rome & Etruscan</h5>
        <p class="card-text text-body">Images and Artifacts from the first few centuries of Roman rule (8th-5th centuries BCE), as well as Etruscan cultural remains</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/RomanRepublic.jpg"%}" class="card-img-top" alt="Roman Republic Thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Roman Republic</h5>
        <p class="card-text text-body">Sculpture and other remains from the Roman Republic, with particularly rich evidence from the Late Republic</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/RomanEmpire.jpg"%}" class="card-img-top" alt="Roman Empire Thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Roman Empire</h5>
        <p class="card-text text-body">Abundant images from the rich world of the Roman Empire, including substantial resources from the museums of Greece and Turkey</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col-sm pr-5 mr-5">
    <a class="nounderline" href="/error">
    <div class="card">
      <img src="{% static "home_thumbnails/LateAntique.jpg"%}" class="card-img-top" alt="Late Antique Thumbnail">
      <div class="card-body">
        <h5 class="card-title title_color">Late Antique</h5>
        <p class="card-text text-body">Statues, mosaics, and more from the world of Late Antiquity and the Roman World after Constantine</p>
      </div>
    </div>
    </a>
  </div>
</div>
{% endblock %}
