{% extends 'base.html' %}

{% block title %}
Museums
{% endblock title %}

{% block content%}
<div class="my-2 container container-small">
<h2 class="mt-3 title_color title_font mx-5 text-left">Greece</h2>
<p class=" font-weight-bolder mb-n1">National Archaeological Museum of Athens (Athens National Museum)</p>
<span>
<a class="mx-4 " target="_blank" href="https://www.namuseum.gr/en/">Visit their website</a>
<a class="mx-4 text-greenlink" href="#">See our items from this museum!</a>
</span>

<p class=" font-weight-bolder mt-1 mb-n1">Acropolis Museum (Athenian Acropolis Museum)</p>
<span>
<a class=" mx-4" target="_blank" href="https://www.theacropolismuseum.gr/en">Visit their website</a>
<a class="mx-4 text-greenlink" href="#">See our items from this museum!</a>
</span>

<p class="font-weight-bolder mb-n1 mt-1">Archaeological Museum of Ancient Corinth (Corinth)</p>
<span>
<a class=" mx-4" target="_blank" href="https://www.corinth-museum.gr/en/">Visit their website</a>
<a class="mx-4 text-greenlink" href="#">See our items from this museum!</a>
</span>

<p class="font-weight-bolder mt-2 mb-n1">Archaeological Museum of Olympia (Olympia)</p>
<span>
<a class=" mx-4" target="_blank" href="http://odysseus.culture.gr/h/1/eh151.jsp?obj_id=7126">Visit their website</a>
<a class="mx-4 text-greenlink" href="#">See our items from this museum!</a>
</span>

<p class="font-weight-bolder mb-n1 mt-2">Archaeological Museum of Pella (Pella)</p>
<span>
<a class=" mx-4" target="_blank" href="http://www.pella-museum.gr/">Visit their website</a>
<a class="mx-4 text-greenlink" href="#">See our items from this museum!</a>
</span>

<p class="font-weight-bolder mt-2 mb-n1">The Museum of the Royal Tombs at Aigai (Vergina)</p>
<span>
<a class=" mx-4" target="_blank" href="http://odysseus.culture.gr/h/1/eh151.jsp?obj_id=3297">Visit their website</a>
<a class="mx-4 text-greenlink" href="#">See our items from this museum!</a>
</span>

<p class="font-weight-bolder mt-2 mb-n1">Archaeological Museum of the Asklepeion at Epidaurus (Epidauros)</p>
<span>
<a class=" mx-4" target="_blank" href="http://odysseus.culture.gr/h/1/eh151.jsp?obj_id=14361">Visit their website</a>
<a class="mx-4 text-greenlink" href="#">See our items from this museum!</a>
</span>

<p class="font-weight-bolder mt-2 mb-n1">Archaeological Museum of Delphi (Delphi)</p>
<span>
<a class=" mx-4" target="_blank" href="https://delphi.culture.gr/">Visit their website</a>
<a class="mx-4 text-greenlink" href="#">See our items from this museum!</a>
</span>

<p class="font-weight-bolder mt-2 mb-n1">Archaeological Museum of Mycenae (Mycenae)</p>
<span>
<a class=" mx-4" target="_blank" href="http://odysseus.culture.gr/h/1/eh151.jsp?obj_id=7061">Visit their website</a>
<a class="mx-4 text-greenlink" href="#">See our items from this museum!</a>
</span>

<p class="font-weight-bolder mt-2 mb-n1">Archaeological Museum of Isthmia (Isthmia)</p>
<span>
<a class=" mx-4" target="_blank" href="http://odysseus.culture.gr/h/1/eh151.jsp?obj_id=3377">Visit their website</a>
<a class="mx-4 text-greenlink" href="#">See our items from this museum!</a>
</span>

<p class="font-weight-bolder mt-2 mb-n1">Eleusis Museum (Eleusis)</p>
<span>
<a class=" mx-4" target="_blank" href="http://odysseus.culture.gr/h/1/eh151.jsp?obj_id=3429">Visit their website</a>
<a class="mx-4 text-greenlink" href="#">See our items from this museum!</a>
</span>


</div>
{% endblock %}
