{% comment %} <div class="shadow-lg p-1 mb-5 bg-white rounded border-light"> {% endcomment %}
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #f2f2f2">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      </li>
      <li class="nav-item dropdown ml-4 pl-5">
        <a class="nav-link dropdown-toggle title_color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Culture
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Greek</a>
          <a class="dropdown-item" href="#">Roman</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">More</a>
        </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle ml-3 title_color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Object Type
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Vases</a>
          <a class="dropdown-item" href="#">Statues & Sculptures</a>
          <a class="dropdown-item" href="#">Tools & Weapons</a>
          <a class="dropdown-item" href="#">Mosaics</a>
          <a class="dropdown-item" href="#">Inscriptions</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">More</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle ml-3 title_color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Period
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Bronze Age</a>
          <a class="dropdown-item" href="#">Early Greek</a>
          <a class="dropdown-item" href="#">Archaic & Classical</a>
          <a class="dropdown-item" href="#">Hellenistic</a>
          <a class="dropdown-item" href="#">Early Rome</a>
          <a class="dropdown-item" href="#">Roman Republic</a>
          <a class="dropdown-item" href="#">Roman Empire</a>
          <a class="dropdown-item" href="#">Late Antique</a>
{% comment %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
{% endcomment %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle ml-3 title_color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Subject
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Myth</a>
          <a class="dropdown-item" href="#">Politics</a>
          <a class="dropdown-item" href="#">Daily Life</a>
          <a class="dropdown-item" href="#">Military</a>
          <a class="dropdown-item" href="#">Funerary</a>
          <a class="dropdown-item" href="#">Ritual</a>
          <a class="dropdown-item" href="#">Decorative</a>
        </div>
      </li>
      </li>
    </ul>
    {% if user.is_authenticated %}
      <form class="form-inline">
      <button type="button" class="btn btn-success mr-3">Upload an Image</button>
       <a type="button" class="btn btn-sm btn-outline-secondary mr-3" href="/profiles/{{ user.username }}">View Profile</a>
      </form>
    {% else %}
      <a type="button" class="btn btn-outline-success mr-3" href="/login">Login/Register</a>
    {% endif %}
    <a href="#search" class="collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="search">
      <i class="mr-5 pr-5 fas fa-lg fa-black"></i>
    </a>
    <div class="collapse" id="search">
    <form class="form-inline my-2 my-lg-0 mr-4 pr-5">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
  </div>
</nav>
{% comment %} </div> {% endcomment %}
